body {
    background-color: #f4511e; !important;
    height: 100vh
    margin: 0;
} 

header {
    background-color: burlywood
    display: flex;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}  

.logo {
    height: 60px; /Adjust size as needed
    height: auto;
    margin-right: 10px;
}
.brand-name {
    font-size: 28px;
    color: burlywood;
    font-weight: bold;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.product-card {
    background-color: white;
    width: 100px;
    height: auto;
    margin: 5opx auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
} 

.price {
    font-size: 50px;
    font-weight: bold;
    background-color: black
    color: white
    border-radius: 5px
    margin: 10px 0;
} 

buy-btn {
    background-color: black
    color: white
    border: none;
    padding: 40px 80px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

buy-btn:hover {
    background-color: #333
}